<html>
<head>
    <link rel="shortcut icon" type="image/ico" href="https://www.bing.com/sa/simg/favicon-2x.ico">
    <title>Bucket.Visualization.Portal </title>
</head>
<body>
    <h2 id="loading">loading...</h2>
</body>

<script>
    function init() {
        const params = new URLSearchParams(window.location.search);
        const xhr = new XMLHttpRequest();
        xhr.open('GET', '/Adls/getpath?' + params, true);
        xhr.onload = function () {
            if (this.status === 200) {
                document.getElementById("loading").remove();
                const response = this.responseText;
                var array = JSON.parse(response);
                for (var i = 0; i < array.length; i++) {
                    var item = array[i];
                    var stats = item.stats;
                    var h2 = document.createElement("h2")
                    h2.innerText = "In bucket " + stats.bucketName + " there is " + stats.percentage + " samples:30";
                    document.body.appendChild(h2);
                    var samples = item.samples;
                    var div = document.createElement("div");
                    for (var j = 0; j < samples.length; j++) {
                        var sample = samples[j];
                        var img = document.createElement("img");
                        var a = document.createElement("a");
                        a.target= "_blank";
                        a.href = "/Home/Detail?Key=" + sample.key + "&Pkey=" + sample.pKey + "&MUrl=" + sample.mUrl + "&PUrl=" + sample.pUrl + "&MDomain=" + sample.mDomain + "&PDomain=" + sample.pDomain + "&ProdThumbnailKey=" + sample.prodThumbnailKey + "&PrismyV3Rank=" + sample.prismyV3Rank + "&Title=" + sample.title;
                        img.src = sample.mUrl;
                        img.height = 200;
                        a.appendChild(img)
                        div.appendChild(a);
                    }
                    document.body.appendChild(div);
                }
            }
        }
        xhr.send();
    }
    window.onload = init;
</script>
</html>

